window {
    background-color:#797979;
}

statusbar{
    background-color: whitesmoke;
    border-color:grey;
    border-width: 2px;
    border-style: solid;
}

button * {
    color: black;
    font-style:italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
}